.booked-room-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.booked-room-details {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  text-align: center; /* Center the text */
}

.booked-room-info {
  border: 1px solid #ccc; /* Add border around the hotel room information */
  border-radius: 5px;
  padding: 20px;
}

.booked-room-details h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.booked-room-details h3 {
  font-size: 20px;
  margin-top: 0;
}

.booked-room-details p {
  margin: 10px 0;
}

.booked-room-details button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 10px;
}

.booked-room-details button:hover {
  background-color: #0056b3;
}
