.page {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header {
  display: flex;
  margin: 125px;
  align-items: center;
  flex-direction: column;
}

.button {
  margin-top: 125px;
  margin-bottom: 50px;
}
