.navbar {
  height: 50px;
  background-color: #003580;
  display: flex;
  justify-content: center;
}

.nav-container {
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-button {
  margin-left: 20px;
  padding: 5px 10px;
  color: #003580;
  border: none;
  cursor: pointer;
  border-radius: 15px;
}

.logo {
  font-weight: 500;
}
